[Unit]
Description=Pinger for My Internet Alert
After=network.target


[Service]
Type=simple
SyslogIdentifier=pinger
Restart=always
NotifyAccess=all
WatchdogSec=6
ExecStart=/opt/mina/pinger
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID


[Install]
WantedBy=multi-user.target
